{% extends 'core/main.html' %}

{% load static %}

{% block content %}

<head>
    <title>QuickDash |Cart</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>

<body class="flx">
    {% if cart_items %}
    <div class="cart-item-container flx">
        <h2>Cart (3)</h2>
        <hr class="section-divider">

        {% for cart_item in cart_items %}
        <!-- Cart item -->
        <div class="cart-item flx">
            <div class="top-section flx">
                <div class="prod-details flx">
                    <img src="{{ cart_item.item.image.url }}" alt="{{ cart_item.item.name }}" class="prod-img">
                    <div class="prod-title flx">
                        <div class="prod-name">{{ cart_item.item.name }}</div>
                        <div class="seller"><span class="seller-name">Seller: </span>{{ cart_item.item.restaurant }}</div>
                        <div class="price small">₦ {{ cart_item.get_total_price }}</div>
                    </div>
                </div>
                <div class="price big">₦ {{ cart_item.get_total_price }}</div>
            </div>
            <div class="bottom-section flx">
                <div class="remove">
                    <a href="{% url 'remove_from_cart' cart_item.id %}" class="btn">
                        <img src="{% static 'images/remove.svg' %}" alt="" class="rem-icon icon">
                        Remove
                    </a>
                </div>
                <div class="add-sub flx">
                    <a href="{% url 'decrease_quantity' cart_item.id %}" class="btn">-</a>
                    <input type="text" class="quantity" value="{{ cart_item.quantity }}" disabled>
                    <a href="{% url 'increase_quantity' cart_item.id %}" class="btn">+</a>
                </div>
            </div>
        </div>
        <hr class="section-divider">
        <!-- End of Cart item -->
        {% endfor %}
    </div>
    <div class="summary-container flx">
        <h2>Cart Summary</h2>
        <hr class="section-divider">
        <div class="subtotal flx">
            <span>Subtotal</span>
            <div class="total price">₦ {{ total_price }}</div>
        </div>
        <hr class="section-divider">
        <form action="{% url 'checkout' %}" method="post" class="flxcent">
            {% csrf_token %}
            <input type="hidden" name="total_amount" value="10999">
            <input type="text" name="coupon" placeholder="Enter Coupon Code">
            <button type="submit" class="btn price">Checkout (₦ {{ total_price }}) </button>
        </form>
    </div>
    {% else %}
    <h2>Your cart is empty.</h2>
    {% endif %}
</body>

{% endblock %}