{% extends 'core/main.html' %}

{% load static %}

{% block content %}

<head>
    <title>QuickDash |Checkout</title>
    <style>
        .summary-container {
            height: 600px;
        }

    </style>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>

<body class="flx">
    {% if cart_items %}
    <div class="cart-item-container flx">
        <h2>Checkout</h2>
        <hr class="section-divider">

        {% for cart_item in cart_items %}
        <!-- Cart item -->
        <div class="cart-item flx">
            <div class="top-section flx">
                <div class="prod-details flx">
                    <img src="{{ cart_item.item.image.url }}" alt="{{ cart_item.item.name }}" class="prod-img">
                    <div class="prod-title flx">
                        <div class="prod-name">{{ cart_item.item.name }}</div>
                        <div class="price small">₦ {{ cart_item.get_total_price }}</div>
                    </div>
                </div>
                <div class="price big">₦ {{ cart_item.get_total_price }}</div>
            </div>
            <div class="bottom-section flx">
                <div class="remove">
                </div>
                <div class="add-sub flx">
                    <input type="text" class="quantity" value="{{ cart_item.quantity }}" disabled>
                </div>
            </div>
        </div>
        <hr class="section-divider">
        <!-- End of Cart item -->
        {% endfor %}
    </div>
    <div class="summary-container flx">
        <h2>Checkout Summary</h2>
        <hr class="section-divider">
        <div class="subtotal flx">
            <span>Cart Total</span>
            <div class="total price">₦ {{ total_amount }}</div>
        </div>
        <hr class="section-divider">
        {% if coupon_discount != 0 %}
        <div class="subtotal flx">
            <span>Discount</span>
            <div class="total price">- ₦ {{ coupon_discount }}</div>
        </div>
        <hr class="section-divider">
        {% endif %}

        {% if error_message %}
        <span style="color: red;">{{ error_message }}</span>
        <hr class="section-divider">
        {% endif %}

        <div class="subtotal flx">
            <span>Total</span>
            <div class="total price">₦ {{ discounted_amount }}</div>
        </div>
        <hr class="section-divider">
        
        <a href="https://flutterwave.com/ng/" class="btn price">Proceed To Payment</a>
    </div>
    {% else %}
    <h2>Your cart is empty.</h2>
    {% endif %}
</body>

{% endblock %}