* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    /* overflow: hidden; */
    font-family: "Roboto", sans-serif;
}

body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1C211D inset !important;
    -webkit-text-fill-color: #FAFAFA !important;
}


.form-container {
    width: 400px;
    height: 7%;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

form {
    /* display: flex; */
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #FAFAFA;
}

.input-field {
    position: relative;
    border-bottom: 2px solid #FFFAFB;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #FAFAFA;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #FAFAFA;
}

.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 0.8rem;
    z-index: 5;
    top: 10px;
    transform: translateY(-120%);
}

.forget {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 25px 0 35px 0;
    color: #FFFAFB;
}

.form-container a {
    color: #FFFAFB;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

button {
    background: #FFFAFB;
    color: #1D242B;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

button:hover {
    color: #FFFAFB;
    border-color: #FFFAFB;
    background: rgba(255, 255, 255, 0.15);
}

button:active {
    color: #FFFAFB;
    border-color: #FFFAFB;
    background: rgba(255, 255, 255, 0.15);
}

.login {
    text-align: center;
    margin-top: 30px;
    color: #FFFAFB;
}

.login p {
    margin-right: 10px;
}

/* Responsiveness */
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
        max-width: 90%;
    }

    .form-container input {
        font-size: 14px;
    }

    button {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .form-container {
        padding: 20px;
        max-width: 80%;
    }

    .form-container input {
        font-size: 15px;
    }

    button {
        padding: 12px 25px;
    }
}

@media (min-width: 901px) {
    .form-container {
        max-width: 400px;
        padding: 30px;
    }

    .form-container input {
        font-size: 16px;
    }

    button {
        padding: 14px 30px;
    }
}
/* End of Responsiveness */