{% extends 'core/main.html' %}

{% load static %}

{% block content %}

    <!-- Intro -->
    <div class="hero">
        <img src="{% static 'images/menu-hero.jpg' %}" alt="" class="hero-img">
        <h1 class="flxcent">Craving something delicious? You're in the right place.</h1>
    </div>
    <!-- End of Intro -->

    <!-- Featured Dishes Section -->
    <section id="featured-dishes">
        <div class="restaurant-dishes">
            <!-- Dish Card Item -->
             {% for item in items %}
            <div class="dish-item">
                <div class="top-dish-section">  
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="dish-img">

             </div>
                <div class="bottom-dish-section flx">
                    <div class="name-rating-section flx">
                        <span class="dish-name">{{ item.name }}</span>
                        <span class="dish-rating flxcent">
                            <span class="dish-rate">{{ item.rating }}</span>
                            <span class="star-emoji">&#9733;</span>
                        </span>
                    </div>
                    <div class="delivery-time-section flx">
                        <span class="time-icon-container flxcent"> 
                            <img src="{% static 'images/time.svg' %}" alt="" class="time-icon">
                        </span>
                         <span class="time-duration">
                            20-30 minutes
                        </span>
                    </div>

                    <div class="add-wish-box">
                        <div class="wish-list">
                            <a href="{% url 'toggle_wishlist' item.id %}">
                                <img src="{% static 'images/favorite.svg' %}" alt="" class="wish-list-icon">
                            </a>
                            {% if item.id in user_wishlist %}
                            <span class="hover-text">Remove from Wish List</span>
                            {% else %}
                            <span class="hover-text">Add to Wish List</span>
                            {% endif %}
                        </div>
    
                        <div class="add-cart">
                            <a href="{% url 'add_to_cart' item.id %}">
                                <img src="{% static 'images/plus.svg' %}" alt="" class="add-cart-icon">
                            </a>
                            <span class="hover-text">Add to Cart</span>
                        </div>
                    </div>
                   
                </div>
                
            </div>
            <!-- End of Dish Card Item -->
             {% endfor %}

        </div>
    </section>
   <!-- End of Featured Dishes Section -->

{% endblock %}