{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <style>
        body::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: url("{% static 'images/bg-food.jpg' %}"), #0077C0;
            background-position: right;
            background-size: cover  ;
        }
    </style>
    <title>Join QuickDash | Sign Up Today!</title>
</head>

<body class="flxcent">
    <div class="form-container">
        {% if page == 'login' %}

        <h2 class="title">LOGIN</h2>
        <form action="" method="POST" class="flx">
            {% csrf_token %}
            <div class="input-field">
                <input id="email" name="email" required="" type="email" value="">
                <label for="email">Email</label>
            </div>
            <div class="input-field">
                <input id="password" maxlength="20" minlength="8" name="password" required="" type="password" value="">
                <label for="password">Password</label>
            </div>
            <div class="forget flxcent">
                <a href="{% url 'reset-request' %}">Forget Password?</a>
            </div>
            <button type="submit" style="margin-top: 15px;">LOGIN</button>
            <div class="login flxcent">
                <p>Don't have an account?</p><a href="{% url 'register' %}">Register</a>
            </div>
        </form>

        {% else %}

        <h2 class="title">REGISTER</h2>
        <form action="" method="POST" class="flx">
            {% csrf_token %} 
            <div class="input-field">
                <input id="fullname" name="fullname" required="" type="text" value="">
                <label for="fullname">Full Name</label>
            </div>

            <div class="input-field">
                <input id="email" name="email" required="" type="email" value="">
                <label for="email">Email</label>
            </div>

            <div class="input-field">
                <input id="phone_number" name="phone_number" required="" type="text" value="">
                <label for="phone_number">Phone Number (+234 xxx xxxx xxx)</label>
            </div>

            <div class="input-field">
                <input id="address" name="address" required="" type="text" value="">
                <label for="address">Address</label>
            </div>
          
            <div class="input-field">
                <input id="password" maxlength="20" minlength="8" name="password" required="" type="password" value="">
                <label for="password">Password</label>
            </div>
            <button onclick="alert('A verification code has been sent to your email')" type="submit" style="margin-top: 15px;">REGISTER</button>
            <div class="login flxcent">
                <p>Have an account?</p><a href="{% url 'login' %}">Sign In</a>
            </div>
        </form>

        {% endif %}
    </div>    
</body>