{% extends 'core/main.html' %}

{% load static %}

{% block content %}

<head>
    <title>QuickDash | Edit Profile</title>
</head>

<div class="container mx-auto mt-16 pb-24 px-4">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">Update Profile</h1>
    <form action="" method="POST" class="bg-white p-6 rounded-lg shadow-md space-y-6 max-w-lg mx-auto">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.fullname.label_tag }}
            {{ form.fullname }}
        </div>

        <div>
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
        </div>

        <div>
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>

        <div>
            {{ form.is_seller }}
            <label for="id_is_seller" class="form-check-label">{{ form.is_seller.label }}</label>
            <small>{{ form.is_seller.help_text }}</small>
        </div>

        <button class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 focus:ring focus:ring-blue-300 transition duration-200" type="submit">Update Profile</button>
    </form>
</div>

{% endblock %}