#navbar {
    display: none;
}

@media (max-width: 500px) {
    #navbar {
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #C9C5CB;
        border-radius: 50px;
        gap: 10px;
        position: fixed;
        bottom: 3px;
        left: 10px;
        right: 10px;
        padding: 5px 10px 5px 10px;
    }

    .nav-link{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: inherit;
        width: 55px;
        height: 55px;
        background-color: #FAFAFA;
        border-radius: 50%;
        /* Remove highlighting on link on mobile devices */
        -webkit-tap-highlight-color: transparent; 
        transition: background-color 0.15s, color 0.15s;
    }

    .nav-link:focus {
        background-color: #56876D;
        color: white;
    }


    .nav-icon {
        width: 36px;
        height: 30px;
        background-color: transparent;
    }

    .nav-cart {
        position: relative;
    }

    .numc {
        position: absolute;
        top: -1px;
        right: -1px;
        font-size: 12px;
        background-color: rgb(250, 66, 66);
        color: #FAFAFA;
        padding: 5px;
        height: 10px;
        width: 10px;
        border-radius: 10px;
    }
    
    .nav-text {
        font-weight: 600;
        font-size: 70%;
    }

    .help-icon-container {
        display: none;
    }
}

/* Help Icon Styles */
.help-icon-container {
    padding: 2px;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0077C0;
    border-radius: 50%;
}

.help-icon-container:hover {
    cursor: pointer;
}

.help-icon {
    width: 100%;
}
